<style>
    .berries .list-group-item {
        background: grey;
    }
</style>

<div class="list-group">
    <a href="#!/pokemons/{{singlePokemon.objectId }}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

        <h4>
            {{singlePokemon.name | uppercase }}
        </h4>

    </a>
</div>

<div class="list-group berries">
    <div class="list-group-item" ng-repeat="singleBerry in berries">
        <h4>
            {{singleBerry.name | uppercase }}
        </h4>
    </div>
</div>
